@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

:root {
  --green-color: #54b216;
  --green-strong-color: #63db12;

}

body {
  background-color: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-no-decoration {
  text-decoration: none;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(116, 116, 116, 0.548);
}

.form-input {
  width: 90%;
  height: 33px;
  margin: 10px;
  font-size: 17px;
  padding: 0px 10px;
}

.form-input:focus {
  border: 2px solid var(--green-color);
  outline: none;
}

.form-update-label {
  margin-bottom: 0;
  font-size: 15px;
}

button {
  border: none;
  font-size: 18px;
  background-color: #54b216;
  color: white;
  font-weight: 600;
  box-shadow: 0px 0px 10px rgba(83, 83, 83, 0.548);
  border-radius: 3px;
  padding: 4px 40px;
  transition: 0.1s;
  margin: 10px;
}

button:hover {
  background-color: #63db12;
  cursor: pointer;
}

.or {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: grey;
  margin: 5px;
}

.register-profile-picture {
  width: 250px;
  height: 250px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
  background-color: rgba(189, 185, 185, 0.137);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}