.container {
    min-height: 90vh;
    width: 100%;
    padding: 40px 220px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 50px;
    text-align: right;
}

.logo {
    position: absolute;
    filter: opacity(10%);
    left: 20px;
    top: 80px;
    height: 600px;
    width: 600px;
    z-index: -5;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../assets/images/IconoFondoAbout.png');
}

.seccionAcerca {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    /* border: 1px solid blue; */
    padding: 30px;
}

.seccionAcerca p {
    /* border: 1px solid red; */
    background-color: var(--green-color);
    color: white;
    font-size: 1.1rem;
    padding: 30px;
    border-radius: 15px;
    text-align: justify;
    box-shadow: 5px 5px 18px rgb(95, 94, 94);
    position: relative;
    height: 300px;
}

.seccionAcerca p span {
    position: absolute;
    top: 60%;
    left: 45%;
    font-size: 60px;
}

.acerca .textEnd {
    /* border: 1px solid red; */
    margin: 50px 0;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(37, 37, 37);
}

.acerca .textEnd span {
    color: var(--green-color);
}

.equipo {
    width: 100%;
}

.equipo .titulo {
    text-align: left;
}

.equipo .seccionEquipo {
    border: 1px solid orange;
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
}

.equipo .seccionEquipo .personalEquipo {
    width: 100%;
    border: 1px solid black;
}