.container {
    height: 100vh;
    width: 100%;
    /* padding: 40px 220px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; */
}

.titulo {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 50px;
    text-align: right;
}

.logo {
    position: absolute;
    filter: opacity(15%);
    left: 0px;
    top: 80px;
    height: 850px;
    width: 1350px;
    z-index: -5;    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://www.delavinya.com/server/Portal_0025427/img/blogposts/elaboracion-del-cava-tipos-y-diferencias_11908.jpeg');
}

.seccion p {
    background-color: rgb(252, 240, 243);
    /* filter: opacity(90%); */
    height: 230px;
    width: 500px;
    justify-items: center;
   justify-content: center;
   padding-top: 30px;
   padding-left: 10px;
   padding-right: 10px;
   color: #2b1f01;
   animation: background-color 15s infinite;
}

@keyframes background-color {
    0% {
      background-color: rgb(247, 217, 225);
      /* color: hsl(108, 94%, 49%); */
    }
    50% {
      background-color: rgb(248, 205, 217);
    }
    100% {
      background-color: rgb(218, 213, 214);
    }
  }

.seccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    /* border: 1px solid blue; */
    padding: 30px;
    
    
}

.paragraph{
    /* border: 1px solid red; */
    /* background-color: hsl(0, 6%, 85%); */
    color:#610404;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 30px;
    border-radius: 15px;
    text-align: justify;
    box-shadow: 5px 5px 18px rgb(95, 94, 94);
    position: relative;
    height: 300px;
    /* text-shadow: 2px 1px 2px  hsl(0, 19%, 92%); */
    filter: opacity(80%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4iV5OrwEggO1U3IcHEDoKv9yl0okdXXI4UQ&usqp=CAU'); */
    background-image: url('https://thefashionplatemag.files.wordpress.com/2021/02/43527-shutterstock_v268444.gif');
}


.seccion p span {
    position: absolute;
    top: 80%;
    left: 45%;
    font-size: 60px;
}

.textEnd {
    /* border: 1px solid red; */
    margin: 50px 0;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(37, 37, 37);
}

.textEnd span {
    color: rgb(213,161,41);
    font-size: 1.5rem;
}