.ventasContainer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    gap: 30px;
    justify-content: center;
}