.container {
    height: auto;
    width: auto;
    box-shadow: 0px 0px 10px rgba(116, 116, 116, 0.548);
    transition: 0.1s;
    display: inline-block;
  }
  
  .container:hover {
    transform: scale(1.02);
    z-index: 20;
  }
  
  .container {
    height: 200px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(116, 116, 116, 0.548);
    transition: 0.1s;
    display: inline-block;
  }
  
  .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .container {
      height: 100px;
      display: block;
    }
    
    .image {
      height: 100%;
      width: 100%;
      max-height: 100px;
      object-fit: cover;
    }
  }
  

/* .link {
    text-decoration: none;
    color: black;
}

.link:hover{
    color: var(--green-color);
}

.vermas {
    margin: 5px;
} */