.userIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BF360C;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.userIcon h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 50px;
    color: white;
}