footer {
    width: 100%;
    padding: 50px;
    background-color: rgb(10, 10, 10);
    color: rgb(213,161,41);
    height: 200px;
    /* box-shadow: 1px 1px 8px rgb(148, 146, 146) inset; */
}

.container-footer {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    gap: 80px;
}

/* .container-footer section {
    border: 1px solid white;
} */

.container-footer .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-footer .logo img {
    width: 180px;
    height: 130px;
}

.container-footer .logo .redes {
    display: flex;
    gap: 15px;
}

.container-footer .logo .redes a:hover {
    transform: scale(1.1);
}

.container-footer .information,
.container-footer .horaries,
.container-footer .payments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-footer .information h3,
.container-footer .horaries h3,
.container-footer .payments h3 {
    font-size: 1.2rem;
    color: #fff;
}

.container-footer .information p,
.container-footer .horaries p {
    font-size: 0.9rem;
    opacity: 0.9;
}

.container-footer .payments img {
    width: 100%;
    height: 110px;
}