:root {
    --heigh-item: 50px;
}

.sideBarContent {
    background-color: white;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    gap: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;

}

.sideBarContent::-webkit-scrollbar {
    display: none;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    flex-shrink: 0;

}

.menu ul {
    padding: 0;
    overflow-y: auto;
    /* height: fit-content; */

}

.menu {
    font-family: var(--font-optima);
}

.menu .option {
    width: 100%;
    padding: 0;
    /* background-color: blue; */
    /* padding: 10px;
    padding-left: 20px; */
}



.menu .option .a:hover,
.menu .option .current,
.menu .option .items a:hover {
    background: var(--wine-color);
    color: white;
}

.a {
    color: black;
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 12px 20px;
    cursor: pointer;
}



.option,
a {
    text-decoration: none;
}

.items {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    /* padding: 10px; */
    /* padding-left: 50px; */
    gap: 10px;
    text-align: left;
    /* background: red; */
    /* display: none; */
    height: 0;
    transition: height 0.3s ease-in-out;
}

.items a {
    display: flex;
    color: black;
    padding: 10px;
    padding-left: 50px;
    width: 100%;
    /* padding: 12px 20px; */
    cursor: pointer;
}

.expanded {
    /* display: flex; */
    height: calc(var(--d)*var(--heigh-item));
    /* transition: height 0.3s ease-in-out; */
}

.logout {
    position: absolute;
    bottom: 20px;
    left: auto;
}