.itemsMenu {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 400px;
    max-height: 500px;
    overflow-y: scroll;
}

.itemsMenu::-webkit-scrollbar {
    width: 0;
}

.itemsMenu::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.item {
    /* width: 200px; */
    height: 50px;
    padding: 15px;
    border-top: 1px solid #dee2e6;
    cursor: pointer;
}

.item:hover {
    background-color: var(--wine-color);
    color: white;
}