.container1 {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section1 {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
}

.section1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 5s ease-in-out;
    transform: scale(1);
    filter: brightness(70%) contrast(130%) saturate(120%);
}

.section1 .img-actual1 {
    animation: scale-up 5s ease-in-out;
}

@keyframes scale-up {
    0% { transform: scale(1); }
    100% { transform: scale(1.15); }
}

.section1 .texts1 {
    left: 0;
    right: 0;
    top: 0;
    bottom: 50px;
    margin: auto;
    color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.section1 .texts1 h2 {
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section1 .texts1 p {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.active-anim1 {
    opacity: 1;
}

.btn-carousel1 {
    font-size: 35px;
    color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.prev1 {
    top: 50%;
    left: 15px;
    transform: translateY(-60%);
}

.next1 {
    top: 50%;
    right: 15px;
    transform: translateY(-60%);
}

.container-dots1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 15px;
}

.dot1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    outline: 1px solid rgb(255, 255, 255, 0.8);
    cursor: pointer;
}

.active1 {
    background-color:rgb(255, 255, 255, 0.8);
    width: 15px;
    height: 15px;}

@media only screen and (max-width:768px) {
    .section1 .texts1 h2 {
        font-size: 3rem;
    }

    .section1 .texts1 p {
        font-size: 1.3rem;
    }

    .btn-carousel1 {
        font-size: 2rem;
    }

    .container-dots1 {
        bottom: 10px;
    }

    .dot1 {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width:480px) {
    .section1 img {
        filter: brightness(40%);
    }

    .section1 .texts {
        bottom: 0;
    }

    .section1 .texts h2 {
        font-size: 2rem;
    }

    .section1 .texts p {
        font-size: 1rem;
    }

    .btn-carousel1 {
        display: none;
    }

    
    .container-dots1 {
        bottom: 5px;
    }

    .dot1 {
        width: 18px;
        height: 18px;
    }
}