.container{
    display: flex;
    justify-content: center;
}

.box{
    width: 85%;
    margin-top: 20px;
    border: solid 1px rgb(200, 197, 197);
    border-radius: 3px;
}
.texto{
    text-align: justify;
}

.star{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    color: #FFD700;
}