@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap%27');

.container{
    /* margin-top: 70px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 86.5vh;
    margin-bottom: 130px;
}

.formulario{
    z-index: 999;
    margin-top: 50px;
}

.logo{
    width: 50%;
    z-index: 1000;
    margin-top: 35px;
}