.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    border: solid 1px rgb(186, 178, 178);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container button {
    background-color: #fff;
    color: var(--green-color);
    border: solid 1px rgb(186, 178, 178);
    cursor: pointer;
    font-size: 15px;
    margin: 1px 16px;
}
.container button:hover {    
    color: var(--green-strong-color);
    transform: scale(1.06);
}

.container span {
    margin: 5px;
}