.contenedor{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    border-radius: 3px;
}

@media (max-width: 768px) {
    .contenedor {
        margin-left: 20px;
        display: block;
        max-width: 450px;    
      }

      .total{
        font-size: 15px;
        margin-right: -600px;
      }

    .tabla {
      margin-left: 20px;
      display: block;
      max-width: 450px;    
    }
    .columna{
      max-width: 60%;
      max-height: 60%;
      display: block;
    }

    .detalle {
        /* margin-left: 0px;
        margin-right: -500px; */
        display: block;
        max-width: 370px; 
        max-height: 980px;
        margin-top: -10px;
      }

      .btnReview{
      font-size: small;
      } 
      
      .aux{
        display: block;
    }
  }
  .total{
    font-size: 15px;
    font-weight: bold;
    margin-left: -700px;
  }

.tabla{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 20px;
    border: solid 1px rgb(200, 197, 197);
    border-radius: 3px;
    width: 90%;
    background-color: white;
    height: fit-content;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    color: rgb(213,161,41);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 0px;
}

.detalle{
    display: flex;
    border: solid 1px rgb(200, 197, 197);
    width: 90%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 3px;
}

.columna{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
}

.img{
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-right: 40px;
    /* -webkit-transform: scale(.6);
    transform: scale(.6);  */
    object-fit: cover;
    image-rendering: crisp-edges; 
  }  

.success{
    margin: 0px 40px 0 0;
    color: rgb(58,181,74)
}
.failure{
  margin: 0px 40px 0 0;
  color: rgb(242,61,78)
}

.link{
    height: auto;
    width: auto;
    text-decoration: none;
}

.divLink{
    height: auto;
    max-height: 13%;
    width: auto;
    max-width: 7%;
    cursor: pointer;
}

.btnClose{
    position: fixed;
    top: 35px;
    left: 12px;
    margin: 30px;
  }

  .btnCloseReview{
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
  }

  .btnReview{
    /* position: relative; */
    display: flex;
    margin-top: 23px;
    right: 0px;
  }

  .back {
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 100px;
    padding: 1px 10px 1px 10px;
    cursor: pointer;
}