.container {
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
    padding: 5px 0;
    height: 65px;
}

.sesion {
    display: none;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    margin: 0;
}

.nav_text {
    display: none;
    align-items: center;
    flex-wrap: wrap;
}

.nav_text img {
    margin-right: 15px;
    width: 70px;
    height: 60px;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: black;
    color: aliceblue;
    font-size: 20px;
}

.button:hover {
    color: rgb(213, 161, 41);
}

.texto {
    margin-bottom: 5px;
    height: 15px;
}

.icono {
    margin: 0;
    height: 30px;
}

.link_menu {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.link {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}


.logIn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 400px;
    margin: 0;
    box-shadow: 0px 0px 5px rgba(158, 158, 158, 0.521);
}

.menuDesplegable {
    position: absolute;
    top: 100%;
    right: 6.5%;
    background-color: rgba(255, 255, 255, 0.589);
    backdrop-filter: blur(5px);
    padding: 1rem;
    z-index: 999;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.712);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 2px rgb(213, 161, 41);
    border-top: none;
}

.link:hover {
    color: rgb(213, 161, 41);
    ;
}

.link_menu:hover {
    color: rgb(213, 161, 41);
    ;
}

.admin {
    position: relative;
    padding: 0;
    display: flex;
    width: 100px;
    height: 40px;

}

.admin button {
    margin: 0;
    height: 100%;
    font-size: 10px;
}

@media (min-width: 930px) {
    .options {
        display: flex;
        justify-content: space-around;
        width: 200px;
        margin: 0;
    }

    .sesion {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 180px;
    }

    .menu {
        display: none;
    }

    .nav_text {
        display: flex;
    }

    .texto {
        height: 19px;
    }

    .icono {
        height: 30px;
    }
}