/* .container {
    height: 100vh;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.botones {
    margin-top: 50px;
    margin-bottom: 0.20rem;
    padding: 10px;
}

.botonRedes {
    border: none;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(75, 75, 75, 0.548);
    display: flex;
    align-items: center;
}

.btnRedes {
    width: 20px;
    height: 20px;
    object-fit: cover;
    transition: 0.1s;
}

.botonRedes:hover {
    transform: scale(1.1);
    background-color: rgb(230, 230, 230);
}

.linkForget {
    font-size: 12px;
    cursor: pointer;
    font-weight: 400;

} */
.containerGlobal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerGlobal div{
    position: relative;    
}

.container {
    width: 100%;
    height: 100vh;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}

.form{
    all: unset;
    width: 100%;
}

.containerInputLabel{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0px 0px 0px;
}

.containerInputLabelError{
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin: 20px 0px 0px 0px; */
}

.containerInputLabel div{
    position: relative;
    width: 80%;
}

.containerInputLabelError div{
    position: relative;
    width: 80%;
}

.input{
    display: block;
    padding:  .8rem  ;
    border-radius: 1px;
    border: none;
    outline: solid 1px black;
    font-size: 18px;
    width: 100%;
    height: 40px;
}

.inputError{
    outline: 1px red solid;
}

.input:focus{
    outline: solid 1px rgb(213, 161, 41);
}

.label{
    position: absolute;
    top: 10px;
    left: 15px;
    background-color: white;
    font-size: 18px;
    color: black;
    transition: all .5s;
}

.labelError{
    position: absolute;
    top: 10px;
    left: 15px;
    background-color: white;
    font-size: 18px;
    color: red;
    transition: all .5s;
}

/* .label:not(:focus){
    color: black;
} */

.input:focus+.label{
    transform: translateY(-1.0rem);
    font-size: 13px;
    color: rgb(213, 161, 41)
}

.input:not(:placeholder-shown)+.label{
    transform: translateY(-1.0rem);
    transition: .5s;
    font-size: 13px;
}

.containerForget{
    display: flex;
    justify-content: center;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
}

.containerForget div{
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

.password{
    all: unset;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: inline-block;
}

.btnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 31px 0 0 0 ;
}

.btn{
  all: unset;  
  border: none;
  font-size: 18px;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  padding: 4px 0 4px 0;
  transition: 0.5s;
  height: 35px;
  width: 80%;
}

.btn:hover {
    background-color: rgb(213, 161, 41);
    cursor: pointer;
}

.register{
    margin: 10px;
    color: rgb(213, 161, 41);
    text-decoration: underline;
}

.containerOr{
    display: flex;
    justify-content: center;
    margin: 40px 0px 0px 0px;
}

.containerOr div{
    width: 80%;
}

.containerOr hr{
    position: relative;
}

.containerOr span{
    position: absolute;
    top: -27px;
    left: 46%;
    transform: translate(-50%, 50%); 
    background-color: white;
    padding: 0rem .2rem 0rem .2rem;
}

.containerGoogle{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px 0px 0px 0px;
}

.containerGoogle div{
    display: flex;
    justify-content: center;
    width: 80%;
    padding: .2rem;
    border: solid 1px rgb(173, 173, 173);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.containerGoogle div:hover{
    background-color: rgb(200, 197, 197);
}

.containerGlobal img{
    width: auto;
    height: 25px;
    margin: 8px;
}

.container span{
    margin: 10px;
}

.error{
    all: unset;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    /* border: solid red 1px; */
}
.error span{
    all: unset;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    color: red;
    margin: 3px;
}