.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}

.contenedorForm{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #97978D;
    border: 3px black solid;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}

.nombres{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.apellidos{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.contenedorDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label{
    font-size: 20px;
    margin: 0;
}


.imageFile {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 180px;
    height: 130px;
    width: 130px;
    margin-top: 10px;
    object-fit: cover;
}

.errors {
    font-family: sans-serif;    
    color: #ff0000;
    font-size: 14px;
}

.select{
    width: 405px;
    padding: .5rem;
    border-radius: 8px;
    border: 3px black solid;
}
/* .contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.contenedorDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top:20px;
    padding: 1.2rem;
    
}

.contenedorForm {
    width: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(249, 245, 245, 0.47);
    outline: solid 1px black;
}
.input{
    display: block;
    padding: .5rem 2rem;
    border-radius: 8px;
    border: 0;
    outline: solid 1px black;
    font-size: 20px;
}



.input:focus+.label{
    transform: translateY(-1.2rem);
    transition: .7s;
    font-size: 14px;
}

.input:not(:placeholder-shown)+.label{
    transform: translateY(-1.5rem);
}

.labelSelect {
    position: absolute;
    font-size: 20px;
    top: -9px;
    left: 3.1rem;
    padding: 0 .5rem;
}

.contenedor select{
    display: block;
    padding: .5rem 2rem;
    border-radius: 8px;
    border: 0;
    outline: solid 1px black;
    width: 300px;
    font-size: 20px;
}





.contenedor span{
    font-size: 20px;
    color: red;

}




 */
