.container {
    margin-top: 90px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerTotal{
    width: 100%;
    display: flex;
    justify-content: center;
}

.total{
    background-color: white;
    width: 90%;
    margin: 0 0 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: solid 1px rgb(200, 197, 197);
    border-radius: 3px;
}

.mercadoPago{
    margin: 10px;
    display: inline-block;
    background-color:rgb(213,161,41);;
    box-shadow: 0px 0px 10px rgba(83, 83, 83, 0.548);
    border-radius: 3px;
    padding: 5px;
    padding: 4px 40px;
    font-size: 18px;
    transition: 0.1s;
    margin: 50px 0 0 0;
    font-weight: 600;
}

.mercadoPago:hover {
    background-color: rgb(213,161,41);;
    cursor: pointer;
  }

.mercadoPago a{
    color: white;
    text-decoration: none;
}

.titulo {
    width: 100%;
    padding: 10px;
    color: rgb(213,161,41);
    background-color: white;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 45vh;
    margin-top: 20px;
    margin-bottom: 140px;
    border: solid 1px rgb(154,154,154);
    background-color: white;
    font-size: 20px;
}

.back {
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 100px;
    padding: 1px 10px 1px 10px;
    cursor: pointer;
}