.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 0.5rem; */
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

}

.paginadoArr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: -50px;
}

.paginadoAbj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 10px 0 10px
}

.alert {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 25px;
    margin-top: 50px;
    background-color: transparent;
    font-size: 2rem;
    border-radius: 10px;
    text-align: center;
}

.btnPag {
    all: unset;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0 10px 0 10px;
    cursor: pointer;
    font-size: 15px;
    border:none;
    outline: solid 2px rgba(200, 197, 197);
}

.active {
    border: none;
    outline: solid 2px black;
}

.btnPag:hover {
    color: gray;
    background-color: white;
}