@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap%27');

.container {
    height: 90vh;
    width: 100%;
    display: flex;
    margin-top: 65px;
    background-color: #f6f6f6;
}

.logo {
    width: 90vw;
    margin-bottom: 10px;
}

@media (min-width: 900px) {
    .logo {
        width: 50vw;
        align-self: flex-end;
    }
}