.container {
    min-height: 500px;
    margin-top: 100px;
    padding: 30px;
    border: solid 1px rgb(0, 0, 0, 0.2);
    width: 80%;
    height: auto;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}

div>.image {
    width: auto;
    height: auto;
    max-height: 420px;
    border: none;
    margin-top: 15px;
}

.precios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.valor_normal {
    color: gray;
    font-weight: 400;
    text-decoration: line-through;
    margin: 0px 10px;
    font-size: 1.5rem;
}

.valor_con_descuento {
    margin: 0px 10px;
    font-size: 2.5rem;
}

.valor_con_descuento:hover {
    transform: scale(1.1);
    cursor: default;
}

.descripcion_producto {
    font-weight: 200;
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 10px;
}

.back {
    font-size: 25px;
    position: absolute;
    left: 40px;
    top: 100px;
    padding: 1px 10px 1px 10px;
    cursor: pointer;
}

@media (min-width: 820px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* .condicion {
        width: 17%;
        left: 40px;
        top: 150px;
        border-bottom-left-radius: 0px;
        box-shadow: -3px -3px green;
    } */

    .image {
        width: 100%;
        height: 500px;
        object-fit: cover;
        margin-right: 10px;
        border-radius: 8px;
    }
}

.box1 {
    display: flex;
    justify-content: center;
}

.box2 {
    display: flex;
    justify-content: center;
}

.box2Hijo {
    background-color: white;
    /* border: solid 1px rgb(154,154,154); */
    margin: 20px;
    width: 80%;
    margin-bottom: 130px;
    border: solid 1px rgb(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    /* border: 1px solid red; */
}

.form label {
    font-size: 1.1rem;
}

.textarea {
    width: 700px;
    height: 150px;
    padding: 8px;
    font-size: 1rem;
    resize: none;
    border-radius: 12px;
    color: #202020;
    outline: none;
}

.textarea:focus {
    border: 2px solid rgb(37, 199, 37);
}

.select {
    width: 200px;
    height: 20px;
}